.icon_2x_success {
  transform: scale(2);
  color: green;
}

.icon_3x_success {
  transform: scale(3);
  color: green;
}

.icon_3x_failure {
  transform: scale(3);
  color: #cc3300;
}

// :host::ng-deep {
//   .mat-dialog-container {
//     background-image: url("/assets/minion-three.gif");
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-size: cover;
//   }
// }
