<mat-toolbar color="primary">
  <h1 style="text-shadow: 10px 10px 20px lightgoldenrodyellow;">MindFace</h1>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <mat-icon aria-hidden="false" aria-label="Example home icon" class="flight-icon">tag_faces</mat-icon>
</mat-toolbar>

<br />
<br />
<br />

<div class="row no-margin">
  <div class="col-lg-2 col-md-2"></div>
  <div class="col-lg-8 col-md-8 text-center heading">
    <h4>Welcome</h4>
  </div>
  <div class="col-lg-2 col-md-2"></div>
</div>
<div id="app">
  <!-- <div *ngIf="isSmallScreen">
    <button
      mat-raised-button
      (click)="changeCameraFacing('front')"
      color="primary"
      [ngClass]="
        isCameraFrontFacing
          ? 'negative-button-selected'
          : 'negative-button-unselected'
      "
    >
      Front Camera
    </button>
    <span>&nbsp;</span>
    <button
      mat-raised-button
      (click)="changeCameraFacing('back')"
      color="primary"
      [ngClass]="
        !isCameraFrontFacing
          ? 'negative-button-selected'
          : 'negative-button-unselected'
      "
    >
      Back Camera
    </button>
  </div> -->
  <!-- <br /> -->
  <!-- poster="assets/scan.gif" -->
  <video #video id="video" width="300" height="230" preload autoplay playsinline loop muted></video>
  <canvas #canvas id="canvas" width="300" height="230"></canvas>
  <br />
  <div>
    <button mat-raised-button (click)="capture()" color="primary" class="capture-button">
      Capture and verify
    </button>
    <!-- <span>&nbsp;</span>
    <button mat-raised-button (click)="reset()" color="warn">Reset</button>
    <span>&nbsp;</span>
    <button
      mat-raised-button
      (click)="simulateFailureScenario = !simulateFailureScenario"
      color="primary"
      [ngClass]="
        simulateFailureScenario
          ? 'negative-button-selected'
          : 'negative-button-unselected'
      "
    >
      Negative scenario
    </button> -->
  </div>
  <br>
  <div class="autom-logo-container">
    <img src="assets/autom-logo.jpg" alt="'AutoM_Logo'" class="autom-logo-image" />
  </div>
  <div class="mindtree-logo-container">
    <img src="assets/mindtree-logo.jpg" alt="'Mindtree_Logo'" class="mindtree-logo-image" />
  </div>
  <!-- <ul>
    <li *ngFor="let c of captures">
      <img src="{{ c }}" height="50" />
    </li>
  </ul> -->

  <!-- <div>
    <img src="{{ imageUrl }}" height="100" />
  </div> -->
</div>

<!-- rgba(51,51,51,0.8) -->

<ngx-spinner bdOpacitiy="0.9" bdColor="#333" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="false">
  <p style="font-size: 40px; color: white">Please wait. Verifying...</p>
</ngx-spinner>