<mat-toolbar color="primary">
  <span>Mind Face</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    class="flight-icon"
    >tag_faces</mat-icon
  >
</mat-toolbar>

<br />
<br />
<br />

<div class="row no-margin">
  <div class="col-lg-4 col-md-4"></div>
  <div
    class="col-lg-4 col-md-4 text-center"
    style="background-color: darkorange;color: #673ab7;border-radius: 10px;"
  >
    <h4>Temporary ID request</h4>
  </div>
  <div class="col-lg-4 col-md-4"></div>
</div>
<div id="app">
  <!-- <div *ngIf="isSmallScreen">
    <button
      mat-raised-button
      (click)="changeCameraFacing('front')"
      color="primary"
      [ngClass]="
        isCameraFrontFacing
          ? 'negative-button-selected'
          : 'negative-button-unselected'
      "
    >
      Front Camera
    </button>
    <span>&nbsp;</span>
    <button
      mat-raised-button
      (click)="changeCameraFacing('back')"
      color="primary"
      [ngClass]="
        !isCameraFrontFacing
          ? 'negative-button-selected'
          : 'negative-button-unselected'
      "
    >
      Back Camera
    </button>
  </div> -->
  <!-- <br /> -->
  <video #video id="video" width="300" height="230" autoplay></video>
  <br />
  <div>
    <button mat-raised-button (click)="capture()" color="primary">
      Capture and verify
    </button>
    <span>&nbsp;</span>
    <button mat-raised-button (click)="reset()" color="warn">Reset</button>
    <span>&nbsp;</span>
    <button
      mat-raised-button
      (click)="simulateFailureScenario = !simulateFailureScenario"
      color="primary"
      [ngClass]="
        simulateFailureScenario
          ? 'negative-button-selected'
          : 'negative-button-unselected'
      "
    >
      Negative scenario
    </button>
  </div>
  <canvas #canvas id="canvas" width="300" height="230"></canvas>
  <!-- <ul>
    <li *ngFor="let c of captures">
      <img src="{{ c }}" height="50" />
    </li>
  </ul> -->

  <!-- <div>
    <img src="{{ imageUrl }}" height="100" />
  </div> -->
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 40px; color: black">Please wait. Verifying...</p>
</ngx-spinner>
