/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-label {
  color: #8A0051;
}

.profile-image {
  border: 2px solid #8A0051;
  border-radius: 50%;
}

.mat-raised-button.mat-primary {
  color: #8A0051;
  border: 2px solid #8A0051;
  background: white;
}

.mat-raised-button {
  margin-top: 2rem;
  border-radius: 0px !important;
  &:hover {
    color: white;
    background-color: #8A0051;
  }
}

#msGraph, #msText, #fps {
  display: none
}

html{
  overflow-y: overlay;
}